Programming language: PYTHON

List python packages used in this model
- os
- numpy
- cv2
- mrcnn
- pathlib
- twilio
Installation: pip install {package_name}

TensorFlow version - 1.15.3 
Keras - 2.2.4


